@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Cinzel:wght@400..900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Baskervville SC";
  background-color: rgb(216, 160, 166);
  margin: 0;
}

h1, main #about-us a,
h2 {
  font-family: "Cinzel";
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

.page-container {
  background-color: white;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.nav-container {
  min-height: 9rem;
  width: 100%;
}

nav {
  position: fixed;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  background-color: white;
  z-index: 100;
  min-height: 9rem;
  max-height: 9rem;
  transition: transform 250ms, min-height 500ms;
  box-shadow: 1px 2px 3px black;
}
nav #branding {
  margin-right: 2rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav #branding .logo-container {
  position: absolute;
  top: -2rem;
  left: -1rem;
  height: 13rem;
}
nav #branding .logo-container .logo-container__logo {
  height: 100%;
}
nav #branding #burger-menu {
  position: absolute;
  top: 1rem;
  right: 0;
}
nav #branding #burger-menu svg {
  width: 120px;
  height: 120px;
}
nav #branding #burger-menu svg circle {
  fill: rgb(216, 160, 166);
}
nav #menu-buttons {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1000ms;
}
nav #menu-buttons.visible {
  max-height: 20rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: None;
  color: black;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1rem;
  text-align: center;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main section h1, main section #about-us a, main #about-us section a {
  margin: 0;
  align-self: stretch;
  z-index: 1;
  font-size: 2rem;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(216, 160, 166) 50%, rgb(255, 255, 255) 100%);
  position: sticky;
  top: 0;
}
main h3,
main p {
  margin: 0;
  text-align: justify;
}
main #about-us a {
  align-self: stretch;
  display: block;
  margin: 0;
  padding: 0.5rem 0;
  border-radius: 15px;
  background-color: black;
  color: white;
}
main #about-us a:hover, main #about-us a:active {
  filter: invert(75%);
}
main #about-us img {
  width: 13rem;
  border-radius: 50%;
  box-shadow: 2px 2px 10px 1px black;
}
main #pricing h2 {
  margin-bottom: 1rem;
}
main #pricing > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #pricing ul > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main #contact {
  text-align: center;
}
main #contact span {
  text-align: justify;
  display: inline-block;
  margin: 0 0;
}
main #contact .address {
  font-weight: bolder;
}
main #contact img {
  width: 100%;
}

.hidden {
  transform: translateY(-13rem);
}

.visible {
  display: block !important;
}

.maximize {
  min-height: 90vh;
  max-height: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 15rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px black;
}
.slider img {
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 0;
}
.slider .active {
  opacity: 1;
}

footer {
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
