$zMenuLevel: 100;
$zDropDownLevel: $zMenuLevel - 1;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MADE_Cannes";
  src: url(../media/fonts/MADE\ Cannes\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: "MONOSPACB";
  src: url(../MEDIA/FONTS/MONSPACB.TTF);
}

@font-face {
  font-family: "MONOSPACN";
  src: url(../MEDIA/FONTS/MONSPACN.TTF);
}

@font-face {
  font-family: "MONOSPACT";
  src: url(../MEDIA/FONTS/MONSPACT.TTF);
}

@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Cinzel&family=Cinzel+Decorative:wght@400;700;900&family=Kaisei+Decol&display=swap');
// $headerFont: "Aboreto";
// $headerFont: "Xanh Mono";
// $headerFont: "Asar";
$headerFont: "Cinzel";

html,
body {
  height: 100%;
  font-family: "Baskervville SC";
}

h1, h2 {
  // font-family: "MADE_Cannes";
  font-family: $headerFont;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
}

body {
  margin: 0;
  // font-family: "MADE_Cannes";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: $zDropDownLevel;
}

.nav-container {
  min-height: 13rem;
  width: 100%;
}

nav {
  &::backdrop{
    background-color: rgba(255, 255, 255, 0.5);
  }
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  background-color: white;
  z-index: $zMenuLevel;
  min-height: 13rem;
  transition: transform 250ms, min-height 300ms;
  box-shadow: 1px 2px 3px black;
  #menu-buttons {
    display: None;
  }
  #branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-container {
      height: 10rem;
      .logo-container__logo {
        height: 100%;
      }
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: None;
  color: black;
}

main {
  margin: 0 1rem;
  text-align: center;
  section {
    h1 {
      z-index: 1;
      font-size: 2rem;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgb(172, 172, 181) 50%,
        rgba(255, 255, 255, 0.5) 100%
      );
      position: sticky;
      top: 0;
    }
  }
  h3,
  p {
    text-align: justify;
  }

  @mixin black(){
    background-color: black;
    color: white;
  }

  @mixin white(){
    color: black;
    background-color: white;
    border: solid 2px;
    box-shadow: 2px 2px 15px 1px black;
  }

  #about-us {
    a {
      font-family: $headerFont;
      display: block;
      margin: 1.5rem 0;
      padding: 0.5rem 0;
      @include black();
      &:hover, &:active {
        filter: invert(75%);
      }
    }

    img {
      width: 8rem;
      border-radius: 50%;
    }
  }

  #pricing {
    ul > ul > li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  #contact {
    text-align: center;
    span {
      text-align: justify;
      display: inline-block;
      margin: 0 0;
    }
    .address {
      font-weight: bolder;
    }
    img {
      margin-top: 1.5rem;
      width: 100%;
    }
  }
}

.hidden {
  transform: translateY(-13rem);
}

.visible {
  display: block !important;
}

.maximize {
  min-height: 90vh;
}

.slider {
  position: relative;
  width: 100%;
  height: 20rem;
  text-align: center;
  img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms;
    z-index: 0;
  }
  .active {
    opacity: 1;
  }
}

footer {
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}
